build/
lib/*.jar
target
.idea
.idea_modules
.settings
.project
.classpath
.cache
atlassian-ide-plugin.xml
*.iml
.java-version
*.tar

# Ignore Terraform state files
**/.terraform*
**/tfplan

# Ignore VSCode project settings file
.vscode

# Ignore JMeter related files
**/jmeter*.log
**/*.jlt